<div id="host-game-detail" data-role="page">
<?php
    $header_data = ["Sea Eagles v Rabitohs","#host-game-list","#host-game-add-edit",1,1,0,0,1];
    include '_header.php';
?>
    <div role="main" class="ui-content">
        <div class="ui-bar">
            Guest List
            <div class="ui-bar ui-bar-a" style="height:60px">
                <div>No Tickets Found</div>
                <div>Please add tickets via 'Manage Tickets' before inviting guests. </div>
            </div>
            <div class="ui-grid-b">
                <div class="ui-block-a">Gary One
                    <br>Ticket #1234</div>
                <div class="ui-block-b">Accepted</div>
                <div class="ui-block-c"><a href="">UNINVITE</a></div>
                <div class="ui-block-a">Gary Two
                    <br>Ticket #1235</div>
                <div class="ui-block-b">Declined</div>
                <div class="ui-block-c"><a href="">RE-INVITE</a></div>
                <div class="ui-block-a">Gary Three
                    <br>Ticket #1235</div>
                <div class="ui-block-b">Pending</div>
                <div class="ui-block-c"><a href="">UNINVITE</a></div>
                <div class="ui-block-a">Gary Four
                    <br>Ticket #1235</div>
                <div class="ui-block-b">Accepted</div>
                <div class="ui-block-c"><a href="">UNINVITE</a></div>
                <div class="ui-block-a">Gary Five
                    <br>Ticket #1235</div>
                <div class="ui-block-b"><a href="">REMOVE</a></div>
                <div class="ui-block-c"><a href="">INVITE</a></div>
            </div>
        </div>
        <!-- </div> -->
        <!-- /grid-a -->
    </div>
    <!-- /content -->
<?php
    $footer_data = ["#host-game-guest-add"];
    include '_footer.php';
?>
</div>
<!-- /page -->
