<ion-view class="host-contact-list" ng-controller="ContactsCtrl">
  <ion-nav-title>
    Contacts
  </ion-nav-title>
  <ion-content>
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="reload()">
    </ion-refresher>
    <div class="contact-list--item card" ng-show="!contacts.$loading">
      <div class="row">
        <div class="col">
          <label class="input input-label" style="border: solid #ddd 1px;">
            <input type="search" ng-model="contacts.$search" ng-change="filterUsers()" autofocus="true">
          </label>
        </div>
      </div>
    </div>
    <ion-list class="contacts-list" ng-show="!contacts.$loading">
      <ion-item class="contact-list--item card" ng-repeat="contact in filteredUsers" href="#/menu/contacts/{{contact.id}}">
        <div class="row">
          <div class="col">
            <div class="contact-list--name">{{contact.name}}</div>
            <div class="contact-list--email">{{contact.email}}</div>
          </div>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
  <div class="button-add" ng-click="showAddContact()" ng-show="!contacts.$loading">
    <div class="button-add--label">Add Contact</div>
    <div class="button-add--icon">
      <i class="icon ion-plus"></i>
    </div>
  </div>
</ion-view>
