<ion-modal-view class="add-destination">

  <ion-header-bar class="nav-bar-custom">
    <div class="buttons">
      <button class="button button-clear" ng-click="cancelAddEditContact()">
        <i class="ion-android-close"></i>
      </button>
    </div>
    <h1 class="title">Edit Contact</h1>
    <div class="buttons" ng-click="saveContact()">
      <button class="button button-clear">Save</button>
    </div>
  </ion-header-bar>

  <ion-content>
    <div role="main" class="col">
      <div class="col">
        <label class="item item-input item-floating-label">
          <div class="input-label">Name</div>
          <input type="text" data-clear-btn="false" placeholder="Name" ng-model="newContact.name">
        </label>
      </div>
      <div class="col">
        <label class="item item-input item-floating-label">
          <div class="input-label">Mobile</div>
          <input type="tel" data-clear-btn="false" placeholder="Mobile" ng-model="newContact.mobile">
        </label>
      </div>
      <div class="col">
        <label class="item item-input item-floating-label">
          <div class="input-label">Email</div>
          <input type="email" data-clear-btn="false" placeholder="Email" ng-model="newContact.email">
        </label>
      </div>
    </div>

    <!-- TODO Popup if needed -->
  </ion-content>

</ion-modal-view>
