<ion-view class="contact-list" ng-controller="ContactsCtrl">
  <ion-nav-title class="nav-bar-title">
    Contacts
  </ion-nav-title>
  <ion-content ng-show="!contacts.$loading" class="background">
    <div class="contact-list--item card">
      <div class="row">
        <div class="col">
          <div class="contact-list--search">
            <i class="contact-list--search-icon ion-android-search"></i>
            <input type="search" ng-model="contacts.$search" ng-change="filterUsers()" autofocus="true" placeholder="Search">
          </div>
        </div>
      </div>
    </div>
    <ion-list class="contacts-list" ng-show="!contacts.$loading">
      <ion-item class="contact-list--item" ng-repeat="contact in filteredUsers" href="#/menu/contacts/{{contact.id}}">
        <div class="row">
          <div class="col">
            <div class="contact-list--name">{{contact.name}}</div>
            <div class="contact-list--email">{{contact.email}}</div>
          </div>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
  <div class="button-add" ng-click="showAddContact()" ng-show="!contacts.$loading">
    <div class="button-add--label">Add Contact</div>
    <div class="button-add--icon">
      <i class="icon ion-plus"></i>
    </div>
  </div>
</ion-view>
