<ion-view class="host-contact-item" ng-controller="ContactsDetailCtrl">
  <ion-nav-title>
    {{contact.name}}
  </ion-nav-title>
  <ion-content>
    <div class="contact-item">
      <div class="row">
        <div class="col">
          <div class="contact-item--label">Name</div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="contact-item--value">{{contact.name}}</div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="contact-item--label">Mobile</div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="contact-item--value">{{contact.mobile}}</div>
        </div>
        <div class="col">
          <div class="contact-item--icon-group">
            <a class="contact-item--icon ion-android-textsms" href="sms:0400 000 001"></a>
            <a class="contact-item--icon ion-android-call" href="tel:0400 000 001"></a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="contact-item--label">Email</div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="contact-item--value">{{contact.email}}</div>
        </div>
        <div class="col">
          <div class="contact-item--icon-group">
            <a class="contact-item--icon ion-android-mail" href="mailto:davidone@guest.com"></a>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
