<ion-view class="host-contact-item" ng-controller="ContactsDetailCtrl">
  <ion-nav-title>
    {{contact.value.name}}
  </ion-nav-title>
  <ion-nav-buttons side="right">
    <div class="buttons" ng-click="showEditContact()">
      <button class="button button-clear">Edit</button>
    </div>
  </ion-nav-buttons>
  <ion-content>
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="reload()">
    </ion-refresher>
    <div class="contact-item" ng-show="!contact.$loading && !contact.$error">
      <div class="row">
        <div class="col">
          <div class="contact-item--label">Name</div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="contact-item--value">{{contact.value.name}}</div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="contact-item--label">Mobile</div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="contact-item--value">{{contact.value.mobile}}</div>
        </div>
        <div class="col">
          <div class="contact-item--icon-group">
            <a class="contact-item--icon ion-android-textsms" href="sms:0400 000 001"></a>
            <a class="contact-item--icon ion-android-call" href="tel:0400 000 001"></a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="contact-item--label">Email</div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="contact-item--value">{{contact.value.email}}</div>
        </div>
        <div class="col">
          <div class="contact-item--icon-group">
            <a class="contact-item--icon ion-android-mail" href="mailto:davidone@guest.com"></a>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
