<ion-view class="host-game-detail" ng-controller="GameDetailCtrl">
  <ion-nav-title ng-show="!game.$loading" class="nav-bar-title">
    Sea Eagles vs {{game.value.awayTeam}}
  </ion-nav-title>
  <ion-nav-buttons side="right">
    <div class="buttons" ng-click="editGame()">
      <button class="button button-clear"><span class="nav-bar-button">EDIT</span></button>
    </div>
  </ion-nav-buttons>
  <ion-content ng-hide="isReady()" class="background">
    <div class="game-detail card">
      <div class="row">
        <div class="col">
          <div class="game-detail--date">{{formatDate(game.value.date)}}</div>
          <div class="game-detail--info-left">{{formatTime(game.value.startTime)}}</div>
          <div class="game-detail--info-left">Brookvale Oval</div>
        </div>
        <div class="col">
          <div class="team-logo--{{game.value.awayTeam | lowercase}}"></div>
        </div>
        <div class="col">
          <div class="game-detail--stat-group">
            <div class="game-detail--ticket-stat">{{game.value.invited}} Invited</div>
            <div class="game-detail--ticket-stat">{{game.value.accepted}} Accepted</div>
            <div class="game-detail--ticket-stat">{{game.value.declined}} Declined</div>
          </div>
        </div>
      </div>
      <div class="game-detail--manage-ticket">
        <a ng-href="#/menu/games/{{game.value.id}}/manage-tickets">MANAGE TICKETS</a>
      </div>
    </div>
    <div class="guest-list card" ng-show="!game.$loading">
      <div class="row">
        <div class="col guest-list--title">Guest List</div>
      </div>
      <div class="guest-list--item row" ng-hide="game.value.tickets.length != 0">
        <div class="col">
          <div>No Tickets Found</div>
          <div>Please add tickets via 'Manage Tickets' before inviting guests. </div>
        </div>
      </div>
      <!-- TODO// implement once api/guests issue is resolved -->
      <!-- <div class="guest-list--empty-state row">
        <div class="col guest-list--empty-message">
          Click + below to add guests
        </div>
      </div> -->
      <ion-list>
        <ion-item class="guest-list--item col" ng-repeat="guest in guests track by $index">
          <div class="row">
            <div class="guest-list--name col" ng-click="toggleShowContactOptions($index)">{{guest.name}}</div>
            <div class="col-20 guest-list--invite"
            ng-show="guest.status == null" ng-click="invite(guest)">Invite</div>
            <div class="col-10 guest-list--add-guest" ng-click="addGuest(guest)" ng-show="guest.status == null">+</div>
            <div class="col guest-list--{{guest.status}}" ng-show="guest.status != null && guest.status != 'guest'">
              {{guest.status | capitalize}}
            </div>
          </div>
          <div class="guest-list--contact row" ng-show="revealContactOptions[$index]">
            <div class="col"><a href="sms:0414 123 123" class="ion-android-textsms"></a></div>
            <div class="col"><a href="tel:0414 123 123" class="ion-android-call"></a></div>
            <div class="col"><a href="mailto:guest@example.com" class="ion-android-mail"></a></div>
          </div>
          <ion-option-button class="ion-trash-b guest-list--delete-button" ng-click="deleteGuest(guest.id)"></ion-option-button>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
  <div class="button-add"  ng-click="showSearchContact()">
    <div class="button-add--label">Add Guest</div>
    <div class="button-add--icon">
      <i class="icon ion-plus"></i>
    </div>
  </div>
</ion-view>
