<ion-view class="host-game-list" ng-controller="GamesListCtrl" title="All games">
  <ion-content ng-hide="games.$loading">
    <div class="host-game-list--empty" ng-show="showEmptyState()">
      <div class="icon-football"></div>
      <div>Click + below to add a new game</div>
    </div>
    <ion-list class="game-list" ng-hide="games.value.length == 0">
      <ion-item class="game-list--item card" ng-repeat="game in games.value track by $index" ng-href="#/menu/games/{{game.id}}">
        <div class="row">
          <div class="col">
            <div class="game-list--date">{{formatDate(game.date)}}</div>
            <div>{{game.homeTeam}}</div>
            <div>v {{game.awayTeam}}</div>
          </div>
          <div class="col">
            <div class="team-logo--{{game.awayTeam | lowercase}}"></div>
          </div>
          <div class="col">
            <div class="game-list--ticket-stat">{{game.invited}} Invited</div>
            <div class="game-list--ticket-stat">{{game.accepted}} Accepted</div>
            <div class="game-list--ticket-stat">{{game.declined}} Declined</div>
          </div>
        </div>
        <ion-option-button class="ion-ios-trash delete-button" ng-click="deleteGame($index)"></ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
  <div class="button-add" ng-click="addGame()">
    <div class="button-add--label">Add Game</div>
    <div class="button-add--icon">
      <i class="icon ion-plus"></i>
    </div>
  </div>
</ion-view>
