<ion-modal-view class="add-edit-destination">

  <ion-header-bar class="add-edit-destination--nav-bar">
    <div class="buttons">
      <button class="button button-clear cancel" ng-click="cancelAddEditGame()">
        <i class="ion-android-close"></i>
      </button>
    </div>
    <h1 class="title">{{modalTitle}}</h1>
    <div class="buttons" ng-click="saveGame()">
      <button class="button button-clear save">SAVE</button>
    </div>
  </ion-header-bar>

  <ion-content class="add-edit-destination--content">
    <div role="main" class="col">
      <div class="col list select-item">
        <label class="item item-input item-select">
          <div class="input-label">Sea Eagles v</div>
          <select ng-model="newGame.awayTeam" ng-change="changesMade()">
            <option ng-repeat="team in teams">{{team.name}}</option>
          </select>
        </label>
      </div>
      <div class="col list">
        <label class="item item-input item-select">
          <div class="input-label">Date</div>
          <input type="date" data-clear-btn="false" name="date-1" id="date-1" ng-model="newGame.date" ng-change="changesMade()">
        </label>
      </div>
      <div class="row">
        <div class="col-50 list">
          <label class="item item-input item-select">
            <div class="input-label">Start Time</div>
            <input type="time" data-clear-btn="false" name="date-1" id="date-1" ng-model="newGame.startTime" ng-change="changesMade()">
          </label>
        </div>
        <div class="col-50 list">
          <label class="item item-input item-select">
            <div class="input-label">Finish Time</div>
            <input type="time" data-clear-btn="false" name="time-1" id="time-1" ng-model="newGame.finishTime" ng-change="changesMade()">
          </label>
        </div>
      </div>
    </div>

    <!-- Popup  -->

    <!-- <div data-role="popup" id="popupDialog" data-overlay-theme="a" data-theme="a" data-dismissible="false" style="max-width:400px;">
      <div role="main" class="ui-content">
        <h1>Game not saved</h1>
        <h3 class="ui-title">Continue without saving?</h3>
        <a href="#" class="ui-btn ui-corner-all ui-shadow ui-btn-inline ui-btn-b" data-rel="back">Cancel</a>
        <a href="#" class="ui-btn ui-corner-all ui-shadow ui-btn-inline ui-btn-b" data-rel="back" data-transition="flow">Yes</a>
      </div>
    </div> -->
    <!-- /content -->
  </ion-content>

</ion-modal-view>
