<ion-modal-view class="add-edit-game">

  <ion-header-bar class="add-edit-game--nav-bar">
    <div class="buttons">
      <button class="button button-clear cancel" ng-click="cancelAddEditGame()">
        <i class="ion-android-close"></i>
      </button>
    </div>
    <h1 class="title">{{modalTitle}}</h1>
    <div class="buttons" ng-click="saveGame()">
      <button class="button button-clear save">SAVE</button>
    </div>
  </ion-header-bar>

  <ion-content class="add-edit-game--content">
    <div role="main" class="col">
      <div class="col list">
        <label class="item item-input item-select">
          <div class="input-label">Sea Eagles v</div>
          <select ng-model="newGame.awayTeam" ng-change="changesMade()">
            <option ng-repeat="team in teams">{{team.name}}</option>
          </select>
        </label>
      </div>
      <div class="col list">
        <label class="item item-input item-floating-label">
          <div class="input-label">Date</div>
          <input type="date" data-clear-btn="false" name="date-1" id="date-1" ng-model="newGame.date" ng-change="changesMade()">
        </label>
      </div>
      <div class="row">
        <div class="col-50 list">
          <label class="item item-input item-floating-label">
            <div class="input-label">Start Time</div>
            <input type="time" data-clear-btn="false" name="date-1" id="date-1" ng-model="newGame.startTime" ng-change="changesMade()">
          </label>
        </div>
        <div class="col-50 list">
          <label class="item item-input item-floating-label">
            <div class="input-label">Finish Time</div>
            <input type="time" data-clear-btn="false" name="time-1" id="time-1" ng-model="newGame.finishTime" ng-change="changesMade()">
          </label>
        </div>
      </div>
      <div class="col">
        <label class="item item-input item-floating-label">
          <span class="input-label">Host</span>
          <input type="text" placeholder="Host">
        </label>
      </div>
      <div class="col">
        <label class="item item-input item-floating-label">
          <span class="input-label">Host Contact</span>
          <input type="tel" placeholder="Host Contact">
        </label>
      </div>
      <div class="col">
        <div class="col">
          <label class="add-edit-game--events-label">Pre and Post Game Events</label>
        </div>
      </div>
      <ion-list class="col add-edit-game--events">
        <ion-item ng-repeat="event in game.value.events">
          <div class="row">
            <label class="item item-input item-floating-label col-25">
              <span class="input-label">Time</span>
              <input type="time" data-clear-btn="false" ng-model="event.start_time">
            </label>
            <label class="item item-input item-floating-label col-75">
              <span class="input-label">Details</span>
              <input type="text" data-clear-btn="false" placeholder="Details" ng-model="event.details">
            </label>
          </div>
          <div class="row">
            <label class="item item-input item-floating-label col">
              <span class="input-label">Notes</span>
              <input type="text" data-clear-btn="false" placeholder="Notes">
            </label>
          </div>
        </ion-item>
      </ion-list>
      <div ng-show="showEventFields()">
        <label class="item item-input item-floating-label col-25">
          <span class="input-label">Time</span>
          <input type="time" data-clear-btn="false" ng-model="event.start_time">
        </label>
        <label class="item item-input item-floating-label col-75">
          <span class="input-label">Details</span>
          <input type="text" data-clear-btn="false" placeholder="Details" ng-model="event.details">
        </label>
      </div>
      <div class="col add-edit-game--btn-container">
        <div>ADD EVENT</div>
      </div>
    </div>
  </ion-content>

</ion-modal-view>
