<ion-modal-view class="contact-list">
  <ion-header-bar class="contact-list--nav-bar">
    <div class="buttons">
      <button class="button button-clear" ng-click="cancelSearchContact()">
        <i class="ion-android-close nav-bar-button"></i>
      </button>
    </div>
    <h1 class="title nav-bar-title">Add Guest</h1>
  </ion-header-bar>
  <ion-content>
    <div class="contact-list--item card">
      <div class="row">
        <div class="col">
          <div class="contact-list--search">
            <i class="contact-list--search-icon ion-android-search"></i>
            <label class="item item-input item-floating-label">
              <span class="input-label">Add guest</span>
              <input type="search" ng-model="contacts.$search" ng-change="filterUsers()" autofocus="true" placeholder="Add guest">
            </label>
          </div>
        </div>
      </div>
    </div>
    <ion-list class="contacts-list" ng-show="!contacts.$loading">
      <ion-item class="contact-list--item card" ng-repeat="contact in filteredUsers" ng-click="saveSearchContact(contact)">
        <div class="row">
          <div class="col">
            <div class="contact-list--name">{{contact.name}}</div>
            <div class="contact-list--email">{{contact.email}}</div>
          </div>
        </div>
      </ion-item>
    </ion-list>
    <div class="row">
      <div class="col">
        <label class="contact-list--add-contact" ng-click="showAddContact()">ADD CONTACT</label>
      </div>
    </div>
  </ion-content>
</ion-modal-view>
