<ion-view class="host-game-detail" ng-controller="GameDetailCtrl">
  <ion-nav-title ng-show="!game.$loading">
    Sea Eagles vs {{game.value.awayTeam}}
  </ion-nav-title>
  <ion-nav-buttons side="right">
    <div class="buttons" ng-click="editGame()">
      <button class="button button-clear">Edit</button>
    </div>
  </ion-nav-buttons>
  <ion-content>
    <div class="game-detail card" ng-show="!game.$loading">
      <div class="row">
        <div class="col">
          <div class="game-detail--date">{{formatDate(game.value.date)}}</div>
          <div class="game-detail--manage-ticket" ng-click="prepareForSegue('manage-tickets')">MANAGE
            <br>TICKETS ({{game.value.tickets.length}}/8)
          </div>
        </div>
        <div class="col">
          <div class="team-logo--{{game.value.awayTeam | lowercase}}"></div>
        </div>
        <div class="col">
          <div class="game-detail--stat-group">
            <div class="game-detail--ticket-stat">{{game.value.invited}} Invited</div>
            <div class="game-detail--ticket-stat">{{game.value.accepted}} Accepted</div>
            <div class="game-detail--ticket-stat">{{game.value.declined}} Declined</div>
          </div>
        </div>
      </div>
    </div>
    <div class="guest-list card" ng-show="!game.$loading">
      <div class="row">
        <h1 class="col">Guest List</h1>
        <!-- <div class="guest-list--right-action col">INVITE ALL</div> -->
      </div>
      <div class="guest-list--item row" ng-hide="game.value.tickets.length != 0">
        <div class="col">
          <div>No Tickets Found</div>
          <div>Please add tickets via 'Manage Tickets' before inviting guests. </div>
        </div>
      </div>
      <ion-list class="">
        <ion-item class="guest-list--item row" ng-repeat="guest in guests track by $index">
          <div class="col">
            <div class="guest-list--name">{{guest.name}}</div>
          </div>
          <div class="col">
            <div class="guest-list--accepted">{{guest.status}}</div>
          </div>
          <div class="col">
            <div class="guest-list--right-action">UNINVITE</div>
          </div>
        </ion-item>
      </ion-list>
      <div class="guest-list--contact row" ng-hide="true">
        <div class="col"><a href="sms:0414 123 123" class="ion-android-textsms"></a></div>
        <div class="col"><a href="tel:0414 123 123" class="ion-android-call"></a></div>
        <div class="col"><a href="mailto:guest@example.com" class="ion-android-mail"></a></div>
      </div>
  </ion-content>
  <div class="button-add"  ng-click="showSearchContact()">
    <div class="button-add--label">Add Guest</div>
    <div class="button-add--icon">
      <i class="icon ion-plus"></i>
    </div>
  </div>
</ion-view>
