<ion-view ng-controller="ManageTicketsCtrl">
  <ion-nav-title ng-show="!game.$loading" class="nav-bar-title">
    Manage Tickets
  </ion-nav-title>
  <ion-content id="game-card" ng-show="!game.$loading" class="background">
    <div class="game-detail card">
      <div class="row">
        <div class="col">
          <div class="game-detail--date">{{formatDate(game.value.date)}}</div>
          <div class="game-detail--info-left">{{formatTime(game.value.startTime)}}</div>
          <div class="game-detail--info-left">Brookvale Oval</div>
        </div>
        <div class="col">
          <div class="team-logo--code" ng-hide="showLogos">{{getTeamCode(game.value.awayTeam)}}</div>
          <div class="team-logo--{{game.value.awayTeam | lowercase}}" ng-hide="!showLogos"></div>
        </div>
        <div class="col game-detail--tickets-container">
          <div class="game-detail--number-tickets">{{game.value.tickets.length}} Tickets</div>
        </div>
      </div>
    </div>
    <div class="ticket-list card">
      <div class="title">
        Tickets
      </div>
      <ion-list>
        <ion-item ng-repeat="ticket in game.value.tickets track by $index">
          <div class="row">
            <div class="col">
              <div class="ticket-list--number">{{ticket}}</div>
            </div>
            <div class="col-20 ticket-list--button">
              <a class="ticket-list--action" href="#/menu/games/{{game.value.id}}/manage-tickets/{{ticket}}">VIEW</a>
            </div>
          </div>
          <ion-option-button class="ion-trash-b ticket-list--delete-button" ng-click="deleteTicket($index)"></ion-option-button>
        </ion-item>
      </ion-list>
    </div>

    <div ng-show="ticket.$show" class="card" style="padding-bottom: 16px;">
      <div id="ticket-input" class="ticket-list--ticket-input row">
        <label class="ticket-list--ticket-field item item-input item-floating-label col-75">
          <span class="input-label">Enter barcode</span>
          <input type="tel" placeholder="Enter barcode" ng-model="ticket.number" autofocus="true"/>
        </label>
        <div ng-click="saveTicket()" class="col-25 ticket-list--create">CREATE</div>
      </div>
    </div>
  </ion-content>
  <div class="button-add" ng-click="addTicket()">
    <div class="button-add--label">Add Ticket</div>
    <div class="button-add--icon">
      <i class="icon ion-plus"></i>
    </div>
  </div>
</ion-view>
