<ion-view class="guest-ticket-list">
  <ion-nav-bar>
    <ion-nav-title class="nav-bar-title">
      Tickets Received
    </ion-nav-title>
  </ion-nav-bar>
  <ion-content>
    <div class="card">
      <div class="guest-ticket-list--welcome">
        <div class="row guest-ticket-list--name">
          Welcome, {{}}
        </div>
        <div class="row guest-ticket-list--logo"></div>
        <div class="row guest-ticket-list--message">
          Invites you to the
          <br/>
          Manly Sea Eagles Chairman's Club.
        </div>
      </div>
    </div>
    <ion-list>
      <ion-item class="card">
        <div class="row">
          <div class="col">
            <div class="guest-ticket-list--name">Gary One</div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="guest-ticket-list--left">Sea Eagles v Rabbitohs</div>
          </div>
          <div class="col">
            <div class="guest-ticket-list--right">G01T01</div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="guest-ticket-list--left">31 Mar, Thu
              <br>07:30 PM</div>
          </div>
          <div class="col">
            <div class="guest-ticket-list--right">
              <a href="http://maps.google.com/?q=Brookvale+Oval" target="_blank"><i class="ion-ios-location"></i> Brookvale Oval</a></div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="guest-ticket-list--right">
              <a class="guest-ticket-list--accept" href="">ACCEPT</a>
              <a class="guest-ticket-list--decline" href="">DECLINE</a>
            </div>
          </div>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
