<ion-view class="guest-ticket-list" ng-controller="GuestTicketsCtrl">
  <ion-nav-bar class="bar-stable">
    <ion-nav-title class="nav-bar-title">
      {{guestGame.guests.length}} Tickets Received
    </ion-nav-title>
  </ion-nav-bar>
  <ion-content class="background">
    <div class="card">
      <div class="guest-ticket-list--welcome">
        <div class="row guest-ticket-list--name">
          Welcome, {{guests[0].name}}
        </div>
        <div class="row guest-ticket-list--message">
          Hewlett Packard Enterprise invites you to the
          <br/>
          Manly Sea Eagles Chairman's Club.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col">
          <div class="team-logo--code" ng-hide="showLogos">{{getTeamCode(game.awayTeam)}}</div>
          <div class="team-logo--sea-eagles logo-right" ng-hide="!showLogos"></div>
          <div class="ticket-detail--team-name">{{guestGame.homeTeam}}</div>
        </div>
        <div class="col-10" style="margin:auto;">
          <div class="col game-detail--info-center">
            v
          </div>
        </div>
        <div class="col">
          <div class="team-logo--{{guestGame.awayTeam | lowercase}} logo-left"></div>
          <div class="ticket-detail--team-name">{{guestGame.awayTeam}}</div>
        </div>
      </div>
      <div class="row">
        <div class="col ticket-detail--padding">
          <div class="ticket-detail--time">{{formatTime(guestGame.startTime)}}</div>
        </div>
        <div class="col ticket-detail--padding">
          <div class="ticket-detail--date">{{formatDate(guestGame.date)}}</div>
        </div>
      </div>
      <div class="row">
        <div class="guest-ticket-list--amount">
          Your tickets:
        </div>
      </div>
      <div class="row">
        <ion-list class="col">
          <ion-item class="guest-ticket-list--invitee" ng-repeat="guest in guests track by $index">
            <div class="row">
              <div class="col">
                <div class="guest-ticket-list--invitee-name">{{$index + 1}}. {{guest.name}}</div>
              </div>
              <div class="col">
                <div class="row">
                  <div class="guest-ticket-list--left col">
                    <div class="guest-ticket-list--decline" ng-show="$index == 0 && guest.status == 'invited'" ng-click="showDeclineTicketModal()">DECLINE</div>
                    <div class="guest-ticket-list--{{guest.status}}" ng-show="$index == 0 && guest.status != 'invited'">{{guest.status | capitalize}}</div>
                    <div class="guest-ticket-list--{{guest.status}}" ng-show="$index != 0 && guest.status != null">{{guest.status | capitalize}}</div>
                  </div>
                  <div class="guest-ticket-list--right col">
                    <div class="guest-ticket-list--accept" ng-show="$index == 0 && guest.status == 'invited'" ng-click="respondToInvite('accepted')">ACCEPT</div>
                    <div class="guest-ticket-list--accept" ng-show="$index == 0 && guest.status == 'accepted'" ><a href="#/guest/tickets/{{guestGame.tickets[0]}}">VIEW</a></div>
                    <div class="guest-ticket-list--invite" ng-show="$index != 0 && guest.status == null" ng-click="inviteGuest($index)">INVITE</div>
                  </div>
                </div>
              </div>
            </div>
          </ion-item>
        </ion-list>
      </div>
    </div>
    <div class="card">
      <div class="col" style="padding-left:0;">
        <div class="row">
          <div class="col help-detail--info">Have a question?</div>
        </div>
      </div>
      <div class="col" style="padding-left:0;">
        <div class="row">
          <div class="col help-detail--info">
            Contact your host
            <br/>
            {{guestGame.host_name}}
          </div>
          <div class="col-10 help-detail--button"><a href="{{game.value.host_mobile}}" class="ion-android-textsms"></a></div>
          <div class="col-10 help-detail--button"><a href="{{game.value.host_mobile}}" class="ion-android-call"></a></div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
