<ion-view>
  <ion-content class="host-menu">
      <div role="main" class="ui-content">
          <hgroup class="col col-offset-25">
            <h2>Welcome to</h2>
            <h1>The Chairman's Club</h1>
          </hgroup>
          <a href="#/menu/games" class="btn-menu icon-football">
            <div class="host-menu--label">Games</div>
          </a>
          <a href="#/menu/contacts" class="btn-menu ion-android-person">
            <div class="host-menu--label">Contacts</div>
          </a>
      </div>
  </ion-content>
</ion-view>
