<ion-view class="host-game-detail" ng-controller="">
    <ion-content>
        <div class="">
            <div class="ui-bar ui-bar-a" style="height:60px">
                <div>31 Mar</div>
                <div>Sea Eagles v Rabbitohs</div>
            </div>
        </div>
        <div class="card">
            <div class="row">
                <div class="col">
                    <div class="game-list--date">{{formatDate(game.date)}}</div>
                    <div>{{game.homeTeam}}</div>
                    <div>v {{game.awayTeam}}</div>
                </div>
                <div class="col">
                    <div class="team-logo--{{game.awayTeam | lowercase}}"></div>
                </div>
                <div class="col">
                    <div class="game-list--ticket-stat">{{game.invited}} Invited</div>
                    <div class="game-list--ticket-stat">{{game.accepted}} Accepted</div>
                    <div class="game-list--ticket-stat">{{game.declined}} Declined</div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="ui-bar">
                Guest List
                <div class="ui-bar ui-bar-a" style="height:60px">
                    <div>No Tickets Found</div>
                    <div>Please add tickets via 'Manage Tickets' before inviting guests. </div>
                </div>
                <div class="ui-grid-b">
                    <div class="ui-block-a">Gary One
                        <br>Ticket #1234</div>
                    <div class="ui-block-b">Accepted</div>
                    <div class="ui-block-c"><a href="">UNINVITE</a></div>
                    <div class="ui-block-a">Gary Two
                        <br>Ticket #1235</div>
                    <div class="ui-block-b">Declined</div>
                    <div class="ui-block-c"><a href="">RE-INVITE</a></div>
                    <div class="ui-block-a">Gary Three
                        <br>Ticket #1235</div>
                    <div class="ui-block-b">Pending</div>
                    <div class="ui-block-c"><a href="">UNINVITE</a></div>
                    <div class="ui-block-a">Gary Four
                        <br>Ticket #1235</div>
                    <div class="ui-block-b">Accepted</div>
                    <div class="ui-block-c"><a href="">UNINVITE</a></div>
                    <div class="ui-block-a">Gary Five
                        <br>Ticket #1235</div>
                    <div class="ui-block-b"><a href="">REMOVE</a></div>
                    <div class="ui-block-c"><a href="">INVITE</a></div>
                </div>
            </div>
            <!-- </div> -->
            <!-- /grid-a -->
        </div>
        <!-- /content -->
        <div class="button-add" ng-click="addGuest()">
            <div class="button-add--label">Add Guest</div>
            <div class="button-add--icon">
                <i class="icon ion-plus"></i>
            </div>
        </div>
    </ion-content>
</ion-view>
