<ion-view class="host-game-list" ng-controller="GamesListCtrl">
  <ion-nav-title>
    All Games
  </ion-nav-title>
  <ion-content>
    <div class="host-game-list--empty" ng-hide="games.value.length != 0">
      <div class="icon-football"></div>
      <div>Click + below to add a new game</div>
    </div>
    <ion-list class="game-list" ng-show="!games.$loading">
      <ion-item class="game-list--item card" ng-repeat="game in games.value track by $index" ng-click="host-game-detail">
        <div class="row">
          <div class="col">
            <div class="game-list--date">{{game.date}}</div>
            <div>{{game.homeTeam}}</div>
            <div>v {{game.awayTeam}}</div>
          </div>
          <div class="col">
            <div class="team-logo--{{game.awayTeam | lowercase}}"></div>
          </div>
          <div class="col">
            <div class="game-list--ticket-stat">{{game.invited}} Invited</div>
            <div class="game-list--ticket-stat">{{game.accepted}} Accepted</div>
            <div class="game-list--ticket-stat">{{game.declined}} Declined</div>
          </div>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
    <div class="button-add" ng-click="addGame()">
      <div class="button-add--label">Add Game</div>
      <div class="button-add--icon">
        <i class="icon ion-plus"></i>
      </div>
    </div>
</ion-view>
