<ion-view hide-nav-bar="true" ng-controller="LoginCtrl">
  <ion-content>
    <div class="host-login">
      <div class="host-login--panel">
          <div class="host-login--content">
            <h2>Welcome to</h2>
            <h1>The Chairman's Club</h1>
            <form id="form-login" ng-submit="login()">
              <label class="item item-input item-floating-label">
                <span class="input-label">Password</span>
                <input id="form-login-password" type="password" placeholder="Password" autofocus>
              </label>
            </form>
            <div class="host-login--logo"></div>
          </div>
          <div class="shim"></div>
      </div>
    </div>
      <!-- /content -->
  </ion-content>
  <div class="background-image"></div>
</ion-view>
