<ion-view class="ticket-detail" ng-controller="TicketCtrl">
  <ion-nav-title>Ticket</ion-nav-title>

  <ion-content ng-show="!game.$loading">
    <div class="detail card">
      <div class="row">
        <div class="col">
          <div class="game-detail--date col">{{formatDate(game.value.date)}}</div>
          <div class="col">{{game.value.homeTeam}}
            <br/>V {{game.value.awayTeam}}
          </div>
        </div>
        <div class="col">
          <div class="team-logo--{{game.value.awayTeam | lowercase}}"></div>
        </div>
        <div class="col">
          <div class="game-detail--stat-group">
            <div class="game-detail--info time">{{formatTime(game.value.startTime)}}</div>
            <div class="game-detail--info">Brookvale Oval</div>
          </div>
        </div>
      </div>
      <div class="col barcode">
        <canvas id="barcode" class="col" style="padding: 1% 15%;">
      </div>
    </div>
    <div class="detail card">
      <div class="row">
        <div class="col game-detail--activities">
          <label class="col">HPE hopes you'll enjoy tonight and the company of our special guest. We look forward to hosting you.</label>
          <label class="col subheading">Activities on the day</label>
          <div class="row">
            <label class="col-20">5:00 PM</label>
            <label class="col">Meet at Ship Inn at for a pre game Cinammon Whiskey</label>
          </div>
          <div class="row">
            <label class="col-20">9:15 PM</label>
            <label class="col">Post Game cocktail at The Marquee</label>
          </div>
        </div>
      </label>
    </div>
  </ion-content>
</ion-view>
