.add-edit-game {
  &--nav-bar {
    background-color: $manly-color;

    h1, .button.button-clear {
      color: white;
    }

    .button.button-clear {
      font-family: $font-stack;
      i {
        font-size: 18px;
      }
    }

    .button.button-clear.save {
      font-size: 13px;
      font-weight: 600;
      vertical-align: baseline;
    }

  }

  &--content {
    .item.item-input.item-select, .item.item-input.item-floating-label {
      border: none;
      padding-left: 0;
      margin-left: $space;
      margin-right: $space;
    }

    .item.item-input.item-select {
      border-bottom: solid 1px #ddd;
    }
  }

  &--events-label {
    margin-left: $space / 2;
    margin-right: $space / 2;
    font-family: $font-stack-medium;
  }

  &--events {
    padding: 0;
    margin-top: $space * 2;
    margin-bottom: $space * 2;

    ion-item {
      padding: 0 $space 0 $space;
      border: none;
    }
  }

  &--btn-container {
    position: relative;
    margin-bottom: $space * 4;
    div {
      font-family: $font-stack-medium;
      color: #24B0CA;
      position: absolute;
      right: 0;
      padding-left: $space*2;
      padding-right: $space*2;
    }
  }

}
