.add-edit-game {
  &--nav-bar {
    background-color: $manly-color;

    h1, .button.button-clear {
      color: white;
    }

    .button.button-clear {
      font-family: $font-stack;
      i {
        font-size: 18px;
      }
    }

    .button.button-clear.save {
      font-size: 13px;
      font-weight: 600;
      vertical-align: baseline;
    }

  }

  &--content {
    .item.item-input.item-select, .item.item-input.item-floating-label {
      border: none;
      border-bottom: solid 1px #ddd;
      padding-left: 0;
      margin-left: $space;
      margin-right: $space;
    }
  }

  &--events-label {
    margin-left: $space / 2;
    margin-right: $space / 2;
  }

}
