.contact-list
{
	&--name
	{
		padding-bottom: $space / 2;
	}

	&--email
	{
		color: #737373;
		font-size: 14px;
	}

	&--search
	{
		position: relative;
		margin: 16px 0;
		padding: 0 8px 0 24px;
	}

	&--search-icon
	{
		position: absolute;
		top: 32px;
  	left: 0;
  	font-size: 20px;
	}

	input[type="search"]
	{
		box-sizing: border-box;
		line-height: 16px;
		border: none;
		border-bottom: 1px solid #B0C7D6;
		width: 100%;

	}

	&--item
	{
		border: none;
	}

	&--nav-bar {
		background-color: $manly-color;

    h1, .button.button-clear {
      color: white;
    }

    .button.button-clear {
      font-family: $font-stack;
      i {
        font-size: 18px;
      }
    }
	}

	&--add-contact {
		color: #24B0CA;
		font-weight: 800;
		margin-left: $space;
	}
}
