.game-list
{
	&--item
	{
		box-shadow: 0 3px 6px rgba(0,0,0,0.18);
	}
	
	&--date
	{
		font-size: 24px;
		margin-bottom: 0.2em;
	}
	
	&--logo-souths
	{
		display: inline-block;
		width: 136px;
		height: 75px;
		background: url('../assets/team-logos/logo-souths.png') no-repeat;
	}
	
	&--ticket-stat
	{
		margin-bottom: 0.2em;	
	}
}