.game-detail
{
	&--date
	{
		font-size: 24px;
		margin-bottom: 0.2em;
		font-family: $font-stack-regular;
	}

	&--ticket-stat
	{
		margin-bottom: 0.2em;

	}

	&--stat-group
	{
		display: inline-block;
	}

	&--stat-group, &--info-left, &--manage-ticket
	{
		font-family: $font-stack-regular;
		font-size: 14px;
	}

	&--manage-ticket
	{
		margin-top: 1em;
		text-align: right;
		padding-right: $space;
		color: #24B0CA;
		font-family: $font-stack-medium;
	}

	&--time-desc, &--time, &--countdown, &--metric
	{
		padding-top: 0;
		padding-bottom: 0;
	}

	&--time-desc
	{
		text-align: center;
		font-size: 12px;
		font-family: $font-stack-regular;
	}

	&--time
	{
		font-family: $font-stack-medium;

		> .col {
			padding-left: 0;
			padding-right: 0;
			text-align: center;
		}
	}

	&--countdown
	{
		color: #24B0CA;
	}

	&--metric
	{
		font-size: 12px;
	}

	&--info-left
	{
		text-align: left;
	}

	&--info-right, &--time, &--number-tickets
	{
		text-align: right;
	}

	&--tickets-container
	{
		position: relative;
	}

	&--number-tickets {
		position: absolute;
		bottom: 0;
		right: 0;
	}

	&--info-center, &--location, &--info
	{
		text-align: center;
	}

	&--info-center
	{
		margin-top: 50%;
		transform: translateY(-50%);
	}

	&--info, &--info-center {
		font-size: 20px;
		font-family: $font-stack-regular;
	}

	&--location
	{
		font-family: $font-stack-medium;
	}

	&--activities
	{
		padding: 0;

		.col
		{
			padding-left: 0;
			padding-right: 0;
		}

		.col-20
		{
			padding-top: 5px;
		}

	}

	&--subheading
	{
		font-family: $font-stack-medium;
	}

}
