.global-menu
{
	h1
	{
		display: inline-block;
		margin: 32px 8px;
		font-size: 20px;
	}

	& .item-content
	{
		padding: 16px 49px 16px 8px;
	}

	&--icon
	{
		display: inline-block;
		margin: 8px;
		margin-top: 32px;
		width: 56px;
		height: 56px;
		color: white;
		background-color: #24B0CA;
		border-radius: 56px;
		font-size: 26px;
		line-height: 56px;
		font-family: 'robotobold';
		text-align: center;
	}

	&--menu-icon
	{
		display: inline-block;
		width: 48px;
		vertical-align: middle;
		text-align: center;
		font-size: 32px;
		padding-right: 16px;
	}

	&--item
	{
		border: none;
		line-height: 32px;

		&:first-child
		{
			border: 1px solid #B2B2B2;
		}
	}
}
