.guest-ticket-list {
    &--welcome {
      background: url('../assets/team-logos/sea-eagles.png') center right no-repeat;
    }

    &--logo.row {
      background: url("../assets/logo-hp-enterprise.png") no-repeat;
      -webkit-background-size: contain;
      -moz-background-size: contain;
      -o-background-size: contain;
      background-size: contain;
      margin-bottom: $space*2;
      width: 124px;
      height: 52px;
    }

    &--invitee {
      padding: 0;
    }

    &--invitee-name {
      font-size: 16px;
      font-family: $font-stack-regular;
    }

    &--amount {
      color: #95989A;
    }

    &--name, &--amount {
    	margin-bottom: $space * 2;
    	font-size: 20px;
    }

    &--message {
      font-size: 16px;
    }

    &--name, &--message, &--amount {
      font-family: $font-stack-regular;
    }

    &--left, &--right
    {
    	margin-bottom: $space;
    }

    &--right
    {
    	text-align: right;
    }

    &--accept, &--decline
    {
    	margin: 0 $space;
      color: #24B0CA;
      font-family: $font-stack-medium;
      font-size: 14px;

    	&:first-child
    	{
    		margin-left: 0;
    	}

    	&:last-child
    	{
    		margin-right: 0;
    	}
    }
}
