.guest-ticket-list {

    ion-list {
      padding: 0;

      .col {
        padding-left: 0;
        padding-right: 0;
      }
    }

    &--welcome {
      background: url('../assets/logo-hp-enterprise-watermark.png') top right no-repeat;
      background-size: 78px 33px;
      padding-top: $space/2;
    }

    &--logo.row {
      background: url("../assets/logo-hp-enterprise.png") no-repeat;
      -webkit-background-size: contain;
      -moz-background-size: contain;
      -o-background-size: contain;
      background-size: contain;
      margin-bottom: $space*2;
      width: 124px;
      height: 52px;
    }

    &--invitee {
      padding: 0;
      border: none;
    }

    &--invitee-name {
      font-size: 16px;
      font-family: $font-stack-regular;
    }

    &--amount {
      color: #95989A;
    }

    &--name, &--amount {
      margin-top: $space;
    	margin-bottom: $space*2;
    }

    &--message, &--name, &--amount {
      font-size: 16px;
      font-family: $font-stack-regular;
    }

    &--left, &--right
    {
      padding-top: 0;
    	// margin-bottom: $space;
    }

    &--right
    {
    	text-align: right;
    }

    &--accept, &--decline, &--invite
    {
      // margin: 0 $space;
    	margin: 0;
      color: #24B0CA;
      font-family: $font-stack-medium;
      font-size: 14px;

    	// &:first-child
    	// {
    	// 	margin-left: 0;
    	// }

    	// &:last-child
    	// {
    	// 	margin-right: 0;
    	// }
    }

    &--accepted, &--invited, &--declined
    {
      margin: 0;
      font-family: $font-stack-regular;
      font-size: 14px;
    }

    &--accepted
    {
      color: #418A3D;
    }

    &--declined
    {
      color: #FF1823;
    }

    &--invited
    {
      color: #FF7626;
    }
}
