.help-detail
{
  padding-left: 0;
  padding-right: 0;

  &--info
  {
    padding: 0;
    font-size: 15px;
    color: #95989A;
    font-family: $font-stack-regular;
  }

  &--button
  {
    margin: auto;
    font-size: 24px;
  }

  &--decline
  {
    font-family: $font-stack-medium;
    margin: auto;
    font-size: 13px;
    color: #24B0CA;
  }
}
