.host-menu {
    h1 {
        font-family: 'robotolight';
        font-size: 24px;
    }
    h2 {
        font-family: 'robotoregular';
        font-size: 15px;
        color: #969797;
    }
    hgroup {
        display: inline-block;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        margin-bottom: 8 * $space;
    }
    a.btn-menu {
        position: relative;
        display: block;
        margin: $space;
        width: 135px;
        height: 135px;
        background-color: #2AB28B;
        color: #fff;
        text-shadow: none;
        left: 50%;
        transform: translateX(-50%);
    }
    a.btn-menu:link,
    a.btn-menu:visited,
    a.btn-menu:hover,
    a.btn-menu:active {
        color: #FFF;
    }
    a.btn-menu:hover,
    a.btn-menu:active {
        background-color: #1E7F64;
    }
    a.btn-menu .host-menu--label {
        font-family: $font-stack;
        position: absolute;
        bottom: 0;
        padding: $space;
    }
    .btn-menu:before,
    .btn-menu i {
        position: absolute;
        font-size: 64px;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
    }
}
