.host-ticket-list {
  .game-detail.card {
    .col {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .ticket-list.card {
    ion-item {
      border: none;
      padding: 0;

      .ticket-list {
        .ticket-list--button {
          color: #24B0CA;
          font-weight: 800;
          font-size: 13px;
          text-align: right;
          padding: 5px;
        }
      }
    }
  }
}
