.host-login {
    position: relative;
    height: 100%;

    &--manly-logo {
      margin-left: 50%;
      transform: translateX(-50%);
      height: 128px;
      width: 128px;
      background: url("../assets/team-logos/sea-eagles.png") no-repeat;
      -webkit-background-size: contain;
      -moz-background-size: contain;
      -o-background-size: contain;
      background-size: contain;
    }

    &--panel {
        position: relative;
        margin: 4 * $space 4 * $space;
        top: 50%;
        transform: translateY(-50%);
    }

    &--content {
        background-color: rgba(255, 255, 255, 0.86);
        padding: 16px;

        .item.item-input.item-floating-label {
          border-color: $dark;

          *::-webkit-input-placeholder {
            color: $dark;
          }
          *:-moz-placeholder {
            color: $dark;
          }
          *:-ms-input-placeholder { /* IE10+ */
            color: $dark;
          }
        }
    }

    &--logo {
        margin: 0 auto 32px auto;
        width: 124px;
        height: 52px;
        background: url("../assets/logo-hp-enterprise.png") no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 18px;
        margin-top: 0;
    }

    form {
        margin: 90px 0;
    }

    .shim {
        height: 128px;
    }
}
