.ticket-list
{
	margin: $space * 2;

	&--action
	{
		text-align: right;
		margin-bottom: $space;
	}

	ion-item, .item {
		padding-left: 0;
		padding-right: 0;
		border: none;
	}

	&--button {
		color: #24B0CA;
		font-family: $font-stack-medium;
		text-align: right;
		padding: 5px;
	}

	&--ticket-input {
		position: relative;
	}

	&--ticket-field {
		margin-left: $space;
	}

	&--create {
		position: absolute;
		bottom: 0;
		right: $space;
		color: #24B0CA;
		font-family: $font-stack-medium;
		font-size: 14px;
	}
}
