.ticket-decline
{

  &--heading
  {
    font-size: 20px;
    font-family: $font-stack-regular;
    margin: $space*2;
  }

  &--options
  {
    margin: $space*2 auto;
    .item.item-radio
    {
      border: none;
    }
  }

  &--button.row
  {
    text-align: right;
    padding-right: $space;
  }

  .item-radio .radio-icon
  {
    color: #24B0CA;
  }

}
