.ticket-detail {

  &--knights
  {
    margin-top: $space;
  }

  &--team-name
 {
   text-align: center;
   margin-top: $space;
 }

 &--padding
 {
   padding-top: 0;
   padding-bottom: 0;
   padding-left: $space;
   padding-right: $space;
 }

}
