// Variables

$space: 8px;

$font-stack: "robotolight",Helvetica,Arial,sans-serif; 
$font-size: 15px;

$bg-colour-1: #BCBCBC; 

// Base

html,
body {
    margin: 0;
    padding: 0;
    min-width: 320px;
    font-family: $font-stack;
    font-size: $font-size;   
}

html.show-background {
    background: url("../assets/background-login.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    & body {
        height: 100%;
    }
}

// Components

@import 'button-add';

@import 'host-login';
@import 'host-menu';
@import 'host-game-list';


